.information {
  padding-top: 94px;
  &__menu {
    display: flex;
    padding: 0;
  }
  &__item {
    width: 270px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 270px;
    background-color: $color-svg;
    margin-bottom: 30px;
  }
  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $color-gray;
  }
}
